/* main.css */

/* global variable */
:root {
  --bg-color: #ffffff;
  --header-font-color: #ffffff;
  --major-color: #305a50;
  /* --major-color: rgb(61, 209, 122); */
}

/* web font */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}


/* root css style */
* {
  box-sizing: border-box;
  font-family: "Poppins", serif;
  margin: 0px;
  padding: 0px;
}

body > *:not(.main-shown) {
  display: none;
}

main > section:not(section.shown) {
  display: none;
}

/* body */
body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

/* header */
header {
  align-items: center;
  background-color: var(--major-color);
  display: flex;
  flex-flow: row nowrap;
  height: 90px;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 480px)
{
  header {
    width: 480px;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 90px;
    justify-content: space-between;
  }
}

#web-info {
  width: 33%;
  height: 90px;
  display: flex;
}


#web-info > a {
  color: var(--header-font-color);
  font-size: 50px;
  text-decoration: none;
}

#web-info > a > img {
  height: 100%;
  width: 125px;
  object-fit: cover;
}

@media (max-width: 480px)
{
  #web-info {
    width: 100px;
    height: 90px;
    display: flex;
  }

  #web-info > a {
    width: 100px;
  }

  #web-info > a > img {
    height: 100%;
    width: 120%;
    padding-left: 40px;
    object-fit: cover;
  }
}

#app-name {
  height: 100%;
}

#app-name > img {
  width: 225px;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 480px)
{
  #app-name {
    height: 100%;
    position:relative;
    left: 30px;
  }

  #app-name > img {
    height: 100%;
    padding-right: 40px;
    object-fit:cover; 
   

  }
}


#web-info > h1 {
  color: var(--header-font-color);
  display: inline-block;
  font-size: 50px;
  margin: 0px 0px 0px 20px;
}

#head-buttons {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

#head-buttons > #search-button {
  width:8%;
  padding-right: 10px;
}

#head-buttons > button:hover {
  border: 1px solid #313131;
}

@media (max-width: 480px)
{
  #head-buttons {
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }

  #head-buttons > #search-button {
    margin: 0px 20px 0px 0px;
    min-width: 75px;
    padding: 2px 20px; 
  }
}


/* main  */
main {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column nowrap;
  padding: 40px 20px;
  width: 100%;
  
}

.main-item {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 0px 0px 30px 0px;
}

#search-recipes-div {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin: 20px 0 50px 0;
}

#cancel-search-button {
  margin-left: 60px;
  border: 1px solid #ccccd8;
  background-color: #fff;
  border-radius: 14px;
  color: #305a50;
  cursor: pointer;
  font-size: 18px;
  padding: 4px 26px;
}

#cancel-search-button:hover {
  border: 1px solid #313131;
  background: darkgreen;
  color: white;
}


#search-type {
  outline: none;
  width: 120px;
  border: 1px solid #ccccd8;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  color: var(--major-color);
  resize: none;
  font-size: 18px;
  padding: 4px 5px;
}

#search-input {
  outline: none;
  background-image: url("../images/icons/search.png");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  border: 1px solid #ccccd8;
  width: 500px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--major-color);
  resize: none;
  font-size: 18px;
  padding: 4px 20px 4px 40px;
}

@media (max-width: 480px)
{

  #search-recipes-div {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
  }


  #search-type {
    outline: none;
    width: 20vw;
    border: 1px solid #ccccd8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: var(--major-color);
    resize: none;
    font-size: 18px;
    padding: 4px 5px;
  }

   #search-input {
    outline: none;
    border: 1px solid #ccccd8;
    width: 50vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--major-color);
    resize: none;
    font-size: 18px;
    padding: 4px 20px 4px 40px;
  }

  #cancel-search-button {
    margin-left: 2px;
    border: 1px solid #ccccd8;
    background-color: #fff;
    border-radius: 14px;
    color: #305a50;
    cursor: pointer;
    font-size: 18px;
    width: 28vw;
    padding-left: 20px;
  } 
  
}

#filter-section {
  width: 100%;
  
}

#filter-section > summary {
  color: var(--major-color);
  font-size: 18px;

}

#filter-recipes-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: var(--major-color);
  font-size: 18px;
}

#vegan-filter {
  transform: scale(1.5);
  
}

#dairy-filter {
  transform: scale(1.5);
}

#gluten-filter {
  transform: scale(1.5);
}

#vegetarian-filter {
  transform: scale(1.5);
}

@media (max-width: 480px)
{
  #filter-section {
    width: 100vw;
    
  }
  
  #filter-section > summary {
    color: var(--major-color);
    font-size: 18px;
  }
  
  #filter-recipes-div {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    color: var(--major-color);
    font-size: 10px;
  }
  
  #vegan-filter {
    transform: scale(1.0);
  }
  
  #dairy-filter {
    transform: scale(1.0);
  }
  
  #gluten-filter {
    transform: scale(1.0);
  }
  
  #vegetarian-filter {
    transform: scale(1.0);
  }
}

button.item-title {
  background-color: #ffffff;
  border: 0px;
  color: var(--major-color);
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}



h2.item-title {
  background-color: #ffffff;
  border: 0px;
  color: var(--major-color);
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

button.item-title:hover {
  color: #c0392b;
}

.arrow-img {
  margin: 0px 10px; 
}

.recipes-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 80vw;
}

.recipes-page-list,
.recipes-search-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* footer */
footer {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 0px 50px 60px 0px;
  width: 100%;
}

.edit-section {
  display: flex;
  justify-content: center;
}

/* other-page */
#view-recipe-page {
  width: 90%;
}
