/* main.css */

/* global variable */
:root {
  --bg-color: #ffffff;
  --header-font-color: #ffffff;
  --major-color: #305a50;
}

/* web font */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

/* root css style */
* {
  box-sizing: border-box;
  font-family: "Poppins", serif;
  margin: 0px;
  padding: 0px;
}

main > section:not(section.shown) {
  display: none;
}

/* body */
body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

/* header */
header {
  align-items: center;
  background-color: var(--major-color);
  display: flex;
  flex-flow: row nowrap;
  height: 90px;
  justify-content: space-between;
  width: 100%;
}

#web-info > a {
  color: var(--header-font-color);
  font-size: 30px;
  margin: 0px 0px 0px 20px;
  text-decoration: none;
}

#web-info > h1 {
  color: var(--header-font-color);
  display: inline-block;
  font-size: 30px;
  margin: 0px 0px 0px 20px;
}

#head-buttons > button {
  background-color: #ffffff;
  border: 1px solid #ccccd8;
  border-radius: 14px;
  color: var(--major-color);
  cursor: pointer;
  font-size: 18px;
  margin: 0px 20px 0px 0px;
  min-width: 120px;
  padding: 3px 20px;
}

#head-buttons > button:hover {
  border: 1px solid #313131;
}

/* main  */
main {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column nowrap;
  padding: 40px 20px;
  width: 100%;
}

.main-item {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 0px 0px 30px 0px;
}

.item-title {
  color: var(--major-color);
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.item-title:hover {
  color: #c0392b;
}

.arrow-img {
  margin: 0px 10px;
}

.recipes-list {
  max-width: 80vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/* footer */
footer {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 0px 50px 60px 0px;
  width: 100%;
}

.edit-section {
  display: flex;
  justify-content: center;
}
